.totalProcessedBox {
    background: linear-gradient(to top, rgb(248,248,248), transparent);
    padding: 35px;
    height: 315px;
    text-align: center;
}

.totalProcessedBox h4 {
    margin-bottom: 0;
    font-size: 24px;
}

.totalProcessedFigure {
    font-size: 7rem;
    font-weight: 200;
}
