.boxTitle {
    font-weight: 300;
    font-size: 2.1rem;
}

.percentageBox {
    height: 345px;
    background: linear-gradient(to top, rgb(248,248,248), transparent);
    margin: 40px 0;
    padding: 35px;
}

.btnMainDashboard {
    height: 50px;
    width: 280px;
    margin: 30px;
}