.appliedPercentBox {
    height: 315px;
    background: linear-gradient(to top, rgb(248,248,248), transparent);
    padding: 35px;
    text-align: center;
}

.appliedPercentBox h4 {
    font-size: 24px;
     margin-bottom: 14px;
}
