.pageHeader {
    background-color: #022F40;
    border-radius: 4px;
    margin: 20px 0;
    color: #FFF;
}

.greeting {
    font-size: 24px;
    margin: 0;
}

.title {
    font-family: 'Monoton', cursive;
    margin: 0;
}