.pageHeader {
    background-color: #022F40;
    border-radius: 4px;
    margin-top: 20px;
    color: #FFF;
}

.greeting {
    font-size: 1.3rem;
    margin: 0;
}

.title {
    font-family: 'Monoton', cursive;
    margin: 0;
}